.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Acme";
  src: url("./font/Acme-Regular.ttf");
}
.gameOanTuXi {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("./asset/bgGame.png");
  background-size: 100%;
}
.playerThing {
  border: 5px solid #61dafb;
  width: 250px;
  height: 150px;
  background: white;
  border-radius: 10px;
}
.playerCSS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BotCSS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speech-bubble {
  position: relative;
  background: #61dafb;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: #61dafb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
}
.btnItem {
  width: 100px;
  height: 100px;
}
.playerRote {
  /* transform: rotate(deg); */
}
.playerRote2 {
  transform: rotate(240deg);
}
.font {
  font-family: Acme, Arial, serif;
}
